@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v48-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/roboto-v48-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/play-v20-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/play-v20-latin-700.woff2") format("woff2");
}

:root {
  --color-brand-dark: #011c44;
  --color-brand-light: #4a4a4a;
  --color-primary-blue: #2b7fff;
  --color-secondary-light: #ffffff;
}

/* base */
body {
  color: var(--color-brand-dark);
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}
ul {
  list-style-type: none;
}
/* button style */
.button-primary {
  color: var(--color-secondary-light);
  background-color: var(--color-primary-blue);
  border: 1px solid #000;
  border-radius: 32px;
  cursor: pointer;
  font-weight: 600;
}
.button-secondary {
  color: var(--color-secondary-light);
  background-color: var(--color-primary-blue);
  border-radius: 32px;
  cursor: pointer;
}
.button-primary:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
  font-weight: 600;
}
.button-secondary:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
  /* link */
}
.link {
  color: var(--color-brand-dark);
}
.link:hover {
  color: var(--color-primary-blue);
  font-weight: 700;
  /* hero-section */
}
.hero-title {
  color: var(--color-primary-blue);
  font-family: "Play", sans-serif;
  text-transform: capitalize;
  font-size: 140px;
  font-weight: 700;
  line-height: 81%;
  text-transform: capitalize;
}
.hero_title_2 {
  color: var(--color-primary-blue);
  font-family: "Play", sans-serif;
  text-transform: capitalize;
  font-size: 140px;
  font-weight: 700;
  line-height: 81%;
  text-transform: capitalize;
}
.stick {
  color: var(--color-brand-dark);
}
/* contact-list */
.contacts-list {
  color: var(--color-brand-light);
  background: var(--color-secondary-light);
}
.contacts-list {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
}
/* section-title */
.section-title {
  /* color: var(--color-brand-dark); */
}
.section-title {
  font-weight: 700;
  font-size: 64px;
  text-transform: capitalize;
}

.blue {
  color: var(--color-primary-blue);
}
.blue {
  font-weight: 700;
  font-size: 64px;
  text-transform: capitalize;
}
/* our_cosmetic */
.our_cosmetic {
  font-size: 22px;
}
.our_cosmetic span {
  color: var(--color-brand-dark);

  font-weight: bold;
}
/* footer */
.footer_link {
  color: var(--color-brand-dark);
  font-weight: 400;
  font-size: 16px;
}
.footer_link:hover {
  color: var(--color-primary-blue);
  text-decoration: none;
}
.footer_copirght {
  font-weight: 400;
  font-size: 13px;
}
